.config/"Code - OSS"
.config/"Code Industry"
.config/Dharkael
.config/Electron
.config/GIMP
.config/GREYC
.config/Genymobile
.config/Kitware
.config/Pencil
.config/Postman
.config/QtProject.conf
.config/"Raspberry Pi"
.config/SEGGER
.config/Signal
.config/SimplicityStudio
.config/Trolltech.conf
.config/"Unknown Organization"
.config/VirtualBox
.config/abiword
.config/autostart
.config/baloofilerc
.config/cef_user_data
.config/chromium
.config/coc
.config/compton.conf
.config/configstore
.config/conky
.config/conky-manager.json
.config/dconf
.config/deepin
.config/discord
.config/enchant
.config/expressvpn
.config/filetypesrc
.config/gcloud
.config/gconf
.config/geeqie
.config/gmic
.config/gnome-latex
.config/gnome-mplayer
.config/gpick
.config/gtk-2.0
.config/gtk-3.0
.config/guvcview2
.config/htop
.config/inkscape
.config/kazam
.config/kconf_updaterc
.config/kdebugrc
.config/kdeglobals
.config/konq_history
.config/konquerorrc
.config/libfm
.config/libreoffice
.config/matplotlib
.config/mimeapps.list
.config/nitrogen
.config/obmenu-generator
.config/openbox
.config/opensnap
.config/.openoffice
.config/pavucontrol.ini
.config/pcmanfm
.config/procps
.config/pulse
.config/screenkey.json
.config/sigrok
.config/spotify
.config/teamviewer
.config/terminator
.config/texstudio
.config/tilda
.config/transmission-daemon
.config/vlc
.config/vlc_bak
.config/xm1
.config/yay
.config/zoomus.conf
